@import "tailwindcss";

@layer utilities {
    .animate-float-up {
      animation: floatUp 3s ease-out forwards;
    }
  
    @keyframes floatUp {
      0% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateY(-80px) scale(1.5);
        opacity: 0;
      }
    }
  }